<style>
.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	margin-top: 16px;
	justify-content: space-between;
}
</style>

<!-- <div class="produit-card"> -->
<div class="card-container">
	<div>
	<h2>{{ nom }}</h2>
	<p> {{ nom }} de la marque : {{ marque }}</p>
	<img [src]="imageurl" [alt]="nom" height=100px>
	<p>{{ description }}</p>
	<p> {{ prix }}€</p>
	<button (click)="onAjoutPanier()">
		<svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="15" height="10" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
		 {{buttontexte}} </button>
	</div>


</div>
